---
// export type Props = {
//     image:string;
// };

// const { image } = Astro.props;

import cisco from "../assets/CISCO.png";
import poly from "../assets/Poly.png";
import bs from "../assets/BS.png";
import talk from "../assets/TalkTalk.png";
import cj from "../assets/CJ.png";
import jacksons from "../assets/Jacksons.png";
import gamma from "../assets/Gamma.png";
import watchGuard from "../assets/WatchGuard.png";
import broxap from "../assets/Broxap.png";
import "../styles/global.css";
---

<div class="logos__container">
    <div class="logos-slide">
            <img src={cisco} />
            <img src={poly} />
            <img src={bs} />
            <img src={talk} />
            <img src={gamma} />
            <img src={watchGuard} />
            <img src={cj} />
            <img src={jacksons} />
            <img src={broxap} />
    </div>
    <div class="logos-slide">
        <img src={cisco} />
        <img src={poly} />
        <img src={bs} />
        <img src={talk} />
        <img src={gamma} />
        <img src={watchGuard} />
        <img src={cj} />
        <img src={jacksons} />
        <img src={broxap} />
</div>
</div>